<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcaique.dialetus.presentation">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        
        <activity 
            android:name=".regions.RegionsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".dialects.DialectsActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
